<div class="card">
    <a href="/shops/<%= id %>" class="text-body">
        <img src="/public/images//dummy/286x180.png" class="card-img-top">
        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title"><%= name %></h5>
                <p class="card-text"><%= categories %></p>
                <p class="card-text"><span class="rate-star" style="--rate: <%= (score/5.00)*100 %>%;"></span><%= padding(score) %></p>
            </div>
        </div>
    </a>
</div>